[Desktop Entry]
Type=Service
MimeType=image/jpeg;image/heif;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=opt_img_jpg;conv_to_jpg;
Icon=configure
X-KDE-Submenu=Image Tools
X-KDE-Submenu[es]=Herramientas Imagen


[Desktop Action opt_img_jpg]
Name=Optimize images jpg
Name[es]=Optimizar imagenes jpg
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/compress_jpg.sh "%f" > /tmp/compl_jpg.log 2>&1 &
Icon=image-x-generic

[Desktop Action conv_to_jpg]
Name=Convert HEIC images to JPG (Lossy)
Name[es]=Covertir HEIC a JPG (Con Pérdida)
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/conv_heic_to_jpg.sh "%f" > /tmp/conv_img.log 2>&1 &
Icon=image-x-generic