[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all
Actions=rename;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=krename

[Desktop Action rename]
Name=Advanced rename options
Name[it]=Rinomina: opzioni avanzate
Icon=edit-rename
Exec=krename %F
