[Desktop Entry]
Type=Service
MimeType=all/all;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=_SEPARATOR_;TS_to_MP4;MP4_to_WEBP;_SEPARATOR_;move_to_folder;ren_win_filename;
Icon=configure
X-KDE-Priority=TopLevel
X-KDE-Submenu=Tools
X-KDE-Submenu[es]=Herramientas


[Desktop Action TS_to_MP4]
Name=Convert TS file to MP4 File
Name[es]=Convierte videos TS a MP4
Exec=nohup $HOME/.local/share/kio/servicemenus/ts_to_mp4.sh "%f" > /tmp/ts_to_mp4.log 2>&1 &
Icon=video-x-generic

[Desktop Action MP4_to_WEBP]
Name=Convert MP4 file to WEBP animated
Name[es]=Convierte videos MP4 a WEBP Animado
Exec=nohup $HOME/.local/share/kio/servicemenus/mp4_to_webp.sh "%f" > /tmp/mp4_to_webp.log 2>&1 &
Icon=video-x-generic

[Desktop Action move_to_folder]
Name=Move selected files to new folder
Name[es]=Mover archivos a nueva carpeta
Exec=bash -c 'new_folder=$(kdialog --title "Crear nueva carpeta" --inputbox "Ingrese el nombre de la nueva carpeta:" ""); if [ -n "$new_folder" ]; then mkdir -p "$new_folder" && mv -t "$new_folder" %F && kdialog --title "La carpeta "$new_folder" ha sido creada exitosamente." --passivepopup "Los archivos han sido movidos a la carpeta."; fi'
Icon=folder-new

[Desktop Action ren_win_filename]
Name=Rename & Clean filename
Name[es]=Renombrar archivos compatibles con Windows
Exec=nohup $HOME/.local/share/kio/servicemenus/ren_win.sh "%f" > /tmp/ren_win.log 2>&1 &
Icon=folder-new
