[Desktop Entry]
Type=Service
MimeType=all/all;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=move_to_folder;ren_win_filename;
Icon=configure
X-KDE-Submenu=Tools
X-KDE-Submenu[es]=Herramientas

[Desktop Action move_to_folder]
Name=Move selected files to new folder
Name[es]=Mover archivos a nueva carpeta
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/move_to_folder.sh  %F
Icon=folder-new

[Desktop Action ren_win_filename]
Name=Rename & Clean filename
Name[es]=Renombrar archivos compatibles con Windows
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/ren_win.sh "%f" > /tmp/ren_win.log 2>&1 &
Icon=folder-new
