[Desktop Entry]
Type=Service
MimeType=video/mp2t;video/mp4;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=MP4_to_WEBP;TS_to_MP4;
Icon=configure
X-KDE-Submenu=Image Tools
X-KDE-Submenu[es]=Herramientas Video

[Desktop Action TS_to_MP4]
Name=Convert TS file to MP4 File
Name[es]=Convierte videos TS a MP4 (max 1min)
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/ts_to_mp4.sh "%f" > /tmp/ts_to_mp4.log 2>&1 &
Icon=video-x-generic

[Desktop Action MP4_to_WEBP]
Name=Convert MP4 file to WEBP animated
Name[es]=Convierte videos MP4 a WEBP Animado
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/mp4_to_webp.sh "%f" > /tmp/mp4_to_webp.log 2>&1 &
Icon=video-x-generic