[Desktop Entry]
Type=Service
MimeType=image/png;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Actions=opt_img_jpg;conv_to_jpg;
Icon=configure
X-KDE-Submenu=Image Tools
X-KDE-Submenu[es]=Herramientas Imagen

[Desktop Action conv_to_jpg]
Name=Convert image to JPG (Lossy)
Name[es]=Covertir a JPG (Con Pérdida)
Exec=nohup $HOME/.local/share/kio/servicemenus/scripts/conv_to_jpg.sh %F > /tmp/conv_img.log 2>&1 &
Icon=image-x-generic
